<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBuyCoinMapper">
    
    <resultMap type="SysBuyCoin" id="SysBuyCoinResult">
        <result property="buyId"    column="buy_id"    />
        <result property="saleId"    column="sale_id"    />
        <result property="saleUserId"    column="sale_user_id"    />
        <result property="buyUserId"    column="buy_user_id"    />
        <result property="buyTime"    column="buy_time"    />
        <result property="buyType"    column="buy_type"    />
        <result property="buyAmount"    column="buy_amount"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.ruoyi.common.core.vo.resp.BuyDetailInfoRespVO" id="BuyDetailInfoResult">
        <result property="buyId"    column="buy_id"    />
        <result property="saleId"    column="sale_id"    />
        <result property="saleUserId"    column="sale_user_id"    />
        <result property="saleUserNickName"    column="sale_nick_name"    />
        <result property="saleUserPhonenumber"    column="sale_phonenumber"    />
        <result property="saleWechatPayRemark"    column="sale_wechat_pay_remark"  />
        <result property="saleWechatPayImg"    column="sale_wechat_pay_img"    />
        <result property="saleAlipayRemark"       column="sale_alipay_remark"      />
        <result property="saleAlipayImg"    column="sale_alipay_img"    />
        <result property="saleUnionpayRemark"       column="sale_unionpay_remark"      />
        <result property="saleUnionpayAccount"    column="sale_unionpay_account"    />
        <result property="saleUnionpayCard"    column="sale_unionpay_card"    />
        <result property="buyUserId"    column="buy_user_id"    />
        <result property="buyUserNickName"    column="buy_nick_name"    />
        <result property="buyUserPhonenumber"    column="buy_phonenumber"    />
        <result property="buyWechatPayRemark"    column="buy_wechat_pay_remark"  />
        <result property="buyWechatPayImg"    column="buy_wechat_pay_img"    />
        <result property="buyAlipayRemark"       column="buy_alipay_remark"      />
        <result property="buyAlipayImg"    column="buy_alipay_img"    />
        <result property="buyUnionpayRemark"       column="buy_unionpay_remark"      />
        <result property="buyUnionpayAccount"    column="buy_unionpay_account"    />
        <result property="buyUnionpayCard"    column="buy_unionpay_card"    />
        <result property="buyTime"    column="buy_time"    />
        <result property="buyType"    column="buy_type"    />
        <result property="buyAmount"    column="buy_amount"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysBuyCoinVo">
        select buy_id, sale_id, sale_user_id, buy_user_id, buy_time, buy_type, buy_amount, status, create_by, create_time, update_by, update_time, remark from sys_buy_coin
    </sql>

    <select id="selectSysBuyCoinList" parameterType="SysBuyCoin" resultMap="SysBuyCoinResult">
        <include refid="selectSysBuyCoinVo"/>
        <where>  
            <if test="saleId != null "> and sale_id = #{saleId}</if>
            <if test="saleUserId != null "> and sale_user_id = #{saleUserId}</if>
            <if test="buyUserId != null "> and buy_user_id = #{buyUserId}</if>
            <if test="buyTime != null "> and buy_time = #{buyTime}</if>
            <if test="buyType != null  and buyType != ''"> and buy_type = #{buyType}</if>
            <if test="buyAmount != null "> and buy_amount = #{buyAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysBuyCoinByBuyId" parameterType="Long" resultMap="SysBuyCoinResult">
        <include refid="selectSysBuyCoinVo"/>
        where buy_id = #{buyId}
    </select>
        
    <insert id="insertSysBuyCoin" parameterType="SysBuyCoin" useGeneratedKeys="true" keyProperty="buyId">
        insert into sys_buy_coin(
            <if test="saleId != null">sale_id,</if>
            <if test="saleUserId != null">sale_user_id,</if>
            <if test="buyUserId != null">buy_user_id,</if>
            <if test="buyType != null">buy_type,</if>
            <if test="buyAmount != null">buy_amount,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            buy_time,
            create_time
        )values(
            <if test="saleId != null">#{saleId},</if>
            <if test="saleUserId != null">#{saleUserId},</if>
            <if test="buyUserId != null">#{buyUserId},</if>
            <if test="buyType != null">#{buyType},</if>
            <if test="buyAmount != null">#{buyAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate()
        )
    </insert>

    <update id="updateSysBuyCoin" parameterType="SysBuyCoin">
        update sys_buy_coin
        <set>
            <if test="buyAmount != null">buy_amount = #{buyAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where buy_id = #{buyId}
    </update>

    <delete id="deleteSysBuyCoinByBuyId" parameterType="Long">
        delete from sys_buy_coin where buy_id = #{buyId}
    </delete>

    <delete id="deleteSysBuyCoinByBuyIds" parameterType="String">
        delete from sys_buy_coin where buy_id in 
        <foreach item="buyId" collection="array" open="(" separator="," close=")">
            #{buyId}
        </foreach>
    </delete>

    <sql id="selectBuyDetailVo">
        SELECT
            b.buy_id
             ,b.sale_id
             ,b.sale_user_id
             ,b.buy_time
             ,b.buy_type
             ,b.buy_amount
             ,b.status
             ,su.nick_name AS sale_nick_name
             ,su.phonenumber AS sale_phonenumber
             ,su.wechat_pay_remark AS sale_wechat_pay_remark
             ,su.wechat_pay_img AS sale_wechat_pay_img
             ,su.alipay_remark AS sale_alipay_remark
             ,su.alipay_img AS sale_alipay_img
             ,su.unionpay_remark AS sale_unionpay_remark
             ,su.unionpay_account AS sale_unionpay_account
             ,su.unionpay_card AS sale_unionpay_card
             ,b.buy_user_id
             ,bu.nick_name AS buy_nick_name
             ,bu.phonenumber AS buy_phonenumber
             ,bu.wechat_pay_remark AS buy_wechat_pay_remark
             ,bu.wechat_pay_img AS buy_wechat_pay_img
             ,bu.alipay_remark AS buy_alipay_remark
             ,bu.alipay_img AS buy_alipay_img
             ,bu.unionpay_remark AS buy_unionpay_remark
             ,bu.unionpay_account AS buy_unionpay_account
             ,bu.unionpay_card AS buy_unionpay_card
        FROM sys_buy_coin b
        LEFT JOIN sys_user su ON b.sale_user_id = su.user_id
        LEFT JOIN sys_user bu ON b.buy_user_id = bu.user_id
    </sql>

    <select id="getBuyDetailInfo" parameterType="Long" resultMap="BuyDetailInfoResult">
        <include refid="selectBuyDetailVo"/>
        WHERE b.buy_id = #{buyId}
    </select>

    <select id="getBuyListBySaleId" parameterType="Long" resultMap="BuyDetailInfoResult">
        <include refid="selectBuyDetailVo"/>
        WHERE b.sale_id = #{saleId}
    </select>

    <select id="getMyBuyList" resultMap="BuyDetailInfoResult">
        <include refid="selectBuyDetailVo"/>
        INNER JOIN sys_sale_coin s ON b.sale_id = s.sale_id
        WHERE b.buy_user_id = #{userId}
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>
        <if test="buyAmountFrom != null and buyAmountFrom != 0">
            AND b.buy_amount >= #{buyAmountFrom}
        </if>
        <if test="buyAmountTo != null and buyAmountTo != 0">
            AND b.buy_amount &lt;= #{buyAmountTo}
        </if>
        <if test="splitType != null and splitType != ''">
            AND s.sale_split_type = #{splitType}
        </if>
        <if test="buyType != null and buyType != ''">
            AND b.buy_type = #{buyType}
        </if>
        order by b.buy_id DESC
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>


    <select id="selectsBuyCoinBySaleId" parameterType="Long" resultMap="SysBuyCoinResult">
        <include refid="selectSysBuyCoinVo"/>
        WHERE sale_id = #{saleId}
        AND status != '9'
        limit 1
    </select>
</mapper>