<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSaleCoinMapper">
    
    <resultMap type="SysSaleCoin" id="SysSaleCoinResult">
        <result property="saleId"    column="sale_id"    />
        <result property="saleNo"    column="sale_no"    />
        <result property="saleTime"    column="sale_time"    />
        <result property="saleUserId"    column="sale_user_id"    />
        <result property="saleSplitType"    column="sale_split_type"    />
        <result property="supportBuyType"    column="support_buy_type"    />
        <result property="saleAmount"    column="sale_amount"    />
        <result property="saleAmountWithoutCommission"    column="sale_amount_without_commission"    />
        <result property="commissionAmount"    column="commission_amount"    />
        <result property="remainAmount"    column="remain_amount"    />
        <result property="splitMinRate" column="split_min_rate"   />
        <result property="splitMaxRate" column="split_max_rate"   />
        <result property="singleBuyMaxAmount" column="single_buy_max_amount"   />
        <result property="status"    column="status"    />
        <result property="urgentSaleFlg"    column="urgent_sale_flg"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.ruoyi.common.core.vo.resp.SaleDetailInfoRespVO" id="SaleDetailInfoRespVOResult">
        <result property="saleId"    column="sale_id"    />
        <result property="saleNo"    column="sale_no"    />
        <result property="saleTime"    column="sale_time"    />
        <result property="saleUserId"    column="sale_user_id"    />
        <result property="saleSplitType"    column="sale_split_type"    />
        <result property="supportBuyType"    column="support_buy_type"    />
        <result property="saleAmount"    column="sale_amount"    />
        <result property="saleAmountWithoutCommission"    column="sale_amount_without_commission"    />
        <result property="commissionAmount"    column="commission_amount"    />
        <result property="remainAmount"    column="remain_amount"    />
        <result property="splitMinRate" column="split_min_rate"   />
        <result property="splitMaxRate" column="split_max_rate"   />
        <result property="splitMinAmount" column="split_min_amount"   />
        <result property="splitMaxAmount" column="split_max_amount"   />
        <result property="singleBuyMaxAmount" column="single_buy_max_amount"   />
        <result property="status"    column="status"    />
        <result property="urgentSaleFlg"    column="urgent_sale_flg"    />
        <result property="saleUserNickName"     column="nick_name"    />
        <result property="saleUserPhonenumber"  column="phonenumber"  />
        <result property="saleUserRealName"        column="real_name"       />
        <result property="saleUserIdcardNo"        column="idcard_no"       />
        <result property="saleUserAvatar"  column="avatar"  />
        <result property="wechatPayRemark"    column="wechat_pay_remark"  />
        <result property="wechatPayImg"    column="wechat_pay_img"  />
        <result property="alipayRemark"       column="alipay_remark"      />
        <result property="alipayImg"       column="alipay_img"      />
        <result property="unionpayRemark"       column="unionpay_remark"      />
        <result property="unionpayAccount" column="unionpay_account"/>
        <result property="unionpayCard"    column="unionpay_card"   />
        <result property="alipayApproveFlg"       column="alipay_approve_flg"      />
        <result property="wechatPayApproveFlg"       column="wechat_pay_approve_flg"      />
    </resultMap>

    <sql id="selectSysSaleCoinVo">
        select sale_id, sale_no, sale_time, sale_user_id, sale_split_type, support_buy_type, sale_amount, sale_amount_without_commission, commission_amount, remain_amount, split_min_rate, split_max_rate, single_buy_max_amount, status, urgent_sale_flg, create_by, create_time, update_by, update_time, remark from sys_sale_coin
    </sql>

    <select id="selectSysSaleCoinList" parameterType="SysSaleCoin" resultMap="SysSaleCoinResult">
        <include refid="selectSysSaleCoinVo"/>
        <where>  
            <if test="saleNo != null  and saleNo != ''"> and sale_no = #{saleNo}</if>
            <if test="saleTime != null "> and sale_time = #{saleTime}</if>
            <if test="saleUserId != null "> and sale_user_id = #{saleUserId}</if>
            <if test="saleSplitType != null  and saleSplitType != ''"> and sale_split_type = #{saleSplitType}</if>
            <if test="supportBuyType != null  and supportBuyType != ''"> and support_buy_type = #{supportBuyType}</if>
            <if test="saleAmount != null "> and sale_amount = #{saleAmount}</if>
            <if test="saleAmountWithoutCommission != null "> and sale_amount_without_commission = #{saleAmountWithoutCommission}</if>
            <if test="commissionAmount != null "> and commission_amount = #{commissionAmount}</if>
            <if test="remainAmount != null "> and remain_amount = #{remainAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="urgentSaleFlg != null  and urgentSaleFlg != ''"> and urgent_sale_flg = #{urgentSaleFlg}</if>
        </where>
    </select>
    
    <select id="selectSysSaleCoinBySaleId" parameterType="Long" resultMap="SysSaleCoinResult">
        <include refid="selectSysSaleCoinVo"/>
        where sale_id = #{saleId}
    </select>

    <select id="checkNofinishSaleInfoExist" parameterType="Long" resultMap="SysSaleCoinResult">
        <include refid="selectSysSaleCoinVo"/>
        where sale_user_id = #{userId}
        and status not in ('2','9')
        limit 1
    </select>
        
    <insert id="insertSysSaleCoin" parameterType="SysSaleCoin" useGeneratedKeys="true" keyProperty="saleId">
        insert into sys_sale_coin(
            <if test="saleNo != null">sale_no,</if>
            <if test="saleUserId != null">sale_user_id,</if>
            <if test="saleSplitType != null">sale_split_type,</if>
            <if test="supportBuyType != null">support_buy_type,</if>
            <if test="saleAmount != null">sale_amount,</if>
            <if test="saleAmountWithoutCommission != null">sale_amount_without_commission,</if>
            <if test="commissionAmount != null">commission_amount,</if>
            <if test="remainAmount != null">remain_amount,</if>
            <if test="splitMinRate != null">split_min_rate,</if>
            <if test="splitMaxRate != null">split_max_rate,</if>
            <if test="singleBuyMaxAmount != null">single_buy_max_amount,</if>
            <if test="status != null">status,</if>
            <if test="urgentSaleFlg != null">urgent_sale_flg,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            sale_time,
            create_time
        )values(
            <if test="saleNo != null">#{saleNo},</if>
            <if test="saleUserId != null">#{saleUserId},</if>
            <if test="saleSplitType != null">#{saleSplitType},</if>
            <if test="supportBuyType != null">#{supportBuyType},</if>
            <if test="saleAmount != null">#{saleAmount},</if>
            <if test="saleAmountWithoutCommission != null">#{saleAmountWithoutCommission},</if>
            <if test="commissionAmount != null">#{commissionAmount},</if>
            <if test="remainAmount != null">#{remainAmount},</if>
            <if test="splitMinRate != null">#{splitMinRate},</if>
            <if test="splitMaxRate != null">#{splitMaxRate},</if>
            <if test="singleBuyMaxAmount != null">#{singleBuyMaxAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="urgentSaleFlg != null">#{urgentSaleFlg},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate()
        )
    </insert>

    <update id="updateSysSaleCoin" parameterType="SysSaleCoin">
        update sys_sale_coin
        <set>
            <if test="remainAmount != null">remain_amount = #{remainAmount},</if>
            <if test="splitMinRate != null">split_min_rate = #{splitMinRate},</if>
            <if test="splitMaxRate != null">split_max_rate = #{splitMaxRate},</if>
            <if test="singleBuyMaxAmount != null">single_buy_max_amount = #{singleBuyMaxAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where sale_id = #{saleId}
    </update>

    <delete id="deleteSysSaleCoinBySaleId" parameterType="Long">
        delete from sys_sale_coin where sale_id = #{saleId}
    </delete>

    <delete id="deleteSysSaleCoinBySaleIds" parameterType="String">
        delete from sys_sale_coin where sale_id in 
        <foreach item="saleId" collection="array" open="(" separator="," close=")">
            #{saleId}
        </foreach>
    </delete>

    <select id="getSaleList" resultMap="SaleDetailInfoRespVOResult">
        SELECT
            MAIN.sale_id,
            MAIN.sale_no,
            MAIN.sale_time,
            MAIN.sale_user_id,
            MAIN.sale_split_type,
            MAIN.support_buy_type,
            MAIN.sale_amount,
            MAIN.sale_amount_without_commission,
            MAIN.commission_amount,
            MAIN.remain_amount,
            MAIN.split_min_rate,
            MAIN.split_max_rate,
            TRUNCATE(MAIN.split_min_rate * MAIN.remain_amount/100,2) AS split_min_amount,
            TRUNCATE(MAIN.split_max_rate * MAIN.remain_amount/100,2) AS split_max_amount,
            MAIN.single_buy_max_amount,
            MAIN.status,
            MAIN.urgent_sale_flg,
            MAIN.nick_name,
            MAIN.phonenumber,
            MAIN.real_name,
            MAIN.idcard_no,
            MAIN.avatar,
            MAIN.wechat_pay_remark,
            MAIN.wechat_pay_img,
            MAIN.alipay_remark,
            MAIN.alipay_img,
            MAIN.unionpay_remark,
            MAIN.unionpay_account,
            MAIN.unionpay_card,
            MAIN.alipay_approve_flg,
            MAIN.wechat_pay_approve_flg
        FROM(
<!--            SELECT-->
<!--                s.sale_id,-->
<!--                s.sale_no,-->
<!--                s.sale_time,-->
<!--                s.sale_user_id,-->
<!--                s.sale_split_type,-->
<!--                s.support_buy_type,-->
<!--                s.sale_amount,-->
<!--                s.sale_amount_without_commission,-->
<!--                s.commission_amount,-->
<!--                s.remain_amount,-->
<!--                s.split_min_rate,-->
<!--                s.split_max_rate,-->
<!--                s.single_buy_max_amount,-->
<!--                s.status,-->
<!--                s.urgent_sale_flg,-->
<!--                u.nick_name,-->
<!--                u.phonenumber,-->
<!--                u.real_name,-->
<!--                u.idcard_no,-->
<!--                u.avatar,-->
<!--                u.wechat_pay_remark,-->
<!--                u.wechat_pay_img,-->
<!--                u.alipay_remark,-->
<!--                u.alipay_img,-->
<!--                u.unionpay_remark,-->
<!--                u.unionpay_account,-->
<!--                u.unionpay_card-->
<!--            FROM-->
<!--                sys_user u-->
<!--            INNER JOIN sys_sale_coin s ON s.sale_user_id = u.parent_user_id-->
<!--            WHERE u.user_id = #{userId}-->
<!--            AND u.user_id != #{merchantUserId}-->
<!--            AND s.status = '1'-->
<!--            AND NOT EXISTS(-->
<!--                SELECT 1-->
<!--                FROM sys_buy_coin b-->
<!--                WHERE b.sale_id = s.sale_id-->
<!--                AND b.`status` not in('2','9')-->
<!--            )-->
<!--            <if test="saleAmountFrom != null and saleAmountFrom != 0">-->
<!--                AND s.sale_amount >= #{saleAmountFrom}-->
<!--            </if>-->
<!--            <if test="saleAmountTo != null and saleAmountTo != 0">-->
<!--                AND s.sale_amount &lt;= #{saleAmountTo}-->
<!--            </if>-->
<!--            <if test="saleSplitType != null and saleSplitType != ''">-->
<!--                AND s.sale_split_type = #{saleSplitType}-->
<!--            </if>-->
<!--            <if test="supportBuyType != null and supportBuyType.length >0">-->
<!--                AND-->
<!--                <foreach collection="supportBuyType" item="dictCode" open="(" separator="OR" close=")">-->
<!--                    (s.support_buy_type LIKE CONCAT(CONCAT('%',#{dictCode}),'%'))-->
<!--                </foreach>-->
<!--            </if>-->
<!--        UNION ALL-->
        SELECT
        s.sale_id,
        s.sale_no,
        s.sale_time,
        s.sale_user_id,
        s.sale_split_type,
        s.support_buy_type,
        s.sale_amount,
        s.sale_amount_without_commission,
        s.commission_amount,
        s.remain_amount,
        s.split_min_rate,
        s.split_max_rate,
        s.single_buy_max_amount,
        s.status,
        s.urgent_sale_flg,
        u.nick_name,
        u.phonenumber,
        u.real_name,
        u.idcard_no,
        u.avatar,
        case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_remark else null end as wechat_pay_remark,
        case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_img else null end as wechat_pay_img,
        case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_remark else null end as alipay_remark,
        case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_img else null end as alipay_img,
        u.unionpay_remark,
        u.unionpay_account,
        u.unionpay_card,
        case when IFNULL(alipay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as alipay_approve_flg,
        case when IFNULL(wechatpay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as wechat_pay_approve_flg
        FROM
        sys_sale_coin s
        INNER JOIN sys_user u ON s.sale_user_id = u.user_id
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='0' group by a.user_id) alipayNoApprove
        on alipayNoApprove.user_id=u.user_id
        left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='1' group by a.user_id) alipay
        on alipay.user_id=u.user_id
        left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='0' group by a.user_id) wechatpayNoApprove
        on wechatpayNoApprove.user_id=u.user_id
        left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='1' group by a.user_id) wechatpay
        on wechatpay.user_id=u.user_id
        WHERE s.status = '1'
        AND (
            u.user_id = #{merchantUserId}
        OR
            d.dept_id IN ( SELECT dept_id FROM sys_dept WHERE find_in_set( #{deptId} , ancestors ) )
        )
        AND u.user_id != #{userId}
        <if test="saleAmountFrom != null and saleAmountFrom != 0">
                AND s.sale_amount >= #{saleAmountFrom}
            </if>
            <if test="saleAmountTo != null and saleAmountTo != 0">
                AND s.sale_amount &lt;= #{saleAmountTo}
            </if>
            <if test="saleSplitType != null and saleSplitType != ''">
                AND s.sale_split_type = #{saleSplitType}
            </if>
            <if test="supportBuyType != null and supportBuyType.length >0">
                AND
                <foreach collection="supportBuyType" item="dictCode" open="(" separator="OR" close=")">
                    (s.support_buy_type LIKE CONCAT(CONCAT('%',#{dictCode}),'%'))
                </foreach>
            </if>
        )MAIN
        order by MAIN.sale_id DESC
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <select id="getMySaleList" resultMap="SaleDetailInfoRespVOResult">
        SELECT
            s.sale_id,
            s.sale_no,
            s.sale_time,
            s.sale_user_id,
            s.sale_split_type,
            s.support_buy_type,
            s.sale_amount,
            s.sale_amount_without_commission,
            s.commission_amount,
            s.remain_amount,
            s.split_min_rate,
            s.split_max_rate,
            TRUNCATE(s.split_min_rate * s.remain_amount/100,2) AS split_min_amount,
            TRUNCATE(s.split_max_rate * s.remain_amount/100,2) AS split_max_amount,
            s.single_buy_max_amount,
            s.status,
            s.urgent_sale_flg,
            u.nick_name,
            u.phonenumber,
            u.real_name,
            u.idcard_no,
            u.avatar,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_remark else null end as wechat_pay_remark,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_img else null end as wechat_pay_img,
            case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_remark else null end as alipay_remark,
            case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_img else null end as alipay_img,
            u.unionpay_remark,
            u.unionpay_account,
            u.unionpay_card,
            case when IFNULL(alipay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as alipay_approve_flg,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as wechat_pay_approve_flg
        FROM
            sys_user u
            INNER JOIN sys_sale_coin s ON s.sale_user_id = u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='0' group by a.user_id) alipayNoApprove
            on alipayNoApprove.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='1' group by a.user_id) alipay
            on alipay.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='0' group by a.user_id) wechatpayNoApprove
            on wechatpayNoApprove.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='1' group by a.user_id) wechatpay
            on wechatpay.user_id=u.user_id
        WHERE
            u.del_flag = '0'
        and s.sale_user_id = #{userId}
        <if test="status != null and status != ''">
            and s.status = #{status}
        </if>
        <if test="saleAmountFrom != null and saleAmountFrom != 0">
            AND s.sale_amount >= #{saleAmountFrom}
        </if>
        <if test="saleAmountTo != null and saleAmountTo != 0">
            AND s.sale_amount &lt;= #{saleAmountTo}
        </if>
        <if test="saleSplitType != null and saleSplitType != ''">
            AND s.sale_split_type = #{saleSplitType}
        </if>
        <if test="supportBuyType != null and supportBuyType.length >0">
            AND
            <foreach collection="supportBuyType" item="dictCode" open="(" separator="OR" close=")">
                (s.support_buy_type LIKE CONCAT(CONCAT('%',#{dictCode}),'%'))
            </foreach>
        </if>
        order by s.sale_id DESC
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <select id="selectShoppingList" resultMap="SaleDetailInfoRespVOResult">
        SELECT
        MAIN.sale_id,
        MAIN.sale_no,
        MAIN.sale_time,
        MAIN.sale_user_id,
        MAIN.sale_split_type,
        MAIN.support_buy_type,
        MAIN.sale_amount,
        MAIN.sale_amount_without_commission,
        MAIN.commission_amount,
        MAIN.remain_amount,
        MAIN.split_min_rate,
        MAIN.split_max_rate,
        TRUNCATE(MAIN.split_min_rate * MAIN.remain_amount/100,2) AS split_min_amount,
        TRUNCATE(MAIN.split_max_rate * MAIN.remain_amount/100,2) AS split_max_amount,
        MAIN.single_buy_max_amount,
        MAIN.status,
        MAIN.urgent_sale_flg,
        MAIN.nick_name,
        MAIN.phonenumber,
        MAIN.real_name,
        MAIN.idcard_no,
        MAIN.avatar,
        MAIN.wechat_pay_remark,
        MAIN.wechat_pay_img,
        MAIN.alipay_remark,
        MAIN.alipay_img,
        MAIN.unionpay_remark,
        MAIN.unionpay_account,
        MAIN.unionpay_card,
        MAIN.alipay_approve_flg,
        MAIN.wechat_pay_approve_flg
        FROM(
            SELECT
            s.sale_id,
            s.sale_no,
            s.sale_time,
            s.sale_user_id,
            s.sale_split_type,
            s.support_buy_type,
            s.sale_amount,
            s.sale_amount_without_commission,
            s.commission_amount,
            s.remain_amount,
            s.split_min_rate,
            s.split_max_rate,
            s.single_buy_max_amount,
            s.status,
            s.urgent_sale_flg,
            u.nick_name,
            u.phonenumber,
            u.real_name,
            u.idcard_no,
            u.avatar,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_remark else null end as wechat_pay_remark,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then u.wechat_pay_img else null end as wechat_pay_img,
            case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_remark else null end as alipay_remark,
            case when IFNULL(alipay.approveCnt,0) > 0 then u.alipay_img else null end as alipay_img,
            u.unionpay_remark,
            u.unionpay_account,
            u.unionpay_card,
            case when IFNULL(alipay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as alipay_approve_flg,
            case when IFNULL(wechatpay.approveCnt,0) > 0 then '1' when IFNULL(wechatpayNoApprove.approveCnt,0) > 0 then '0' else '2' end as wechat_pay_approve_flg
            FROM
            sys_sale_coin s
            INNER JOIN sys_user u ON s.sale_user_id = u.user_id
            LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='0' group by a.user_id) alipayNoApprove
            on alipayNoApprove.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='0' and a.status='1' group by a.user_id) alipay
            on alipay.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='0' group by a.user_id) wechatpayNoApprove
            on wechatpayNoApprove.user_id=u.user_id
            left join (select count(*) as approveCnt,a.user_id from sys_user_pay_type_approve a where a.pay_type='1' and a.status='1' group by a.user_id) wechatpay
            on wechatpay.user_id=u.user_id
            WHERE
            (
                #{userId} = 1
            or
                s.sale_user_id = #{userId}
            or
                d.dept_id IN ( SELECT dept_id FROM sys_dept WHERE find_in_set( #{deptId} , ancestors ) )
            )
            <if test="saleUserId != null and saleUserId != 0">
                AND s.sale_user_id = #{saleUserId}
            </if>
            <if test="status != null and status != ''">
                AND s.status = #{status}
            </if>
            <if test="saleNo != null and saleNo != ''">
                AND s.sale_no like concat('%', #{saleNo}, '%')
            </if>
            <if test="saleSplitType != null and saleSplitType != ''">
                AND s.sale_split_type = #{saleSplitType}
            </if>
            <if test="supportBuyType != null and supportBuyType.length >0">
                AND
                <foreach collection="supportBuyType" item="dictCode" open="(" separator="OR" close=")">
                    (s.support_buy_type LIKE CONCAT(CONCAT('%',#{dictCode}),'%'))
                </foreach>
            </if>
            <if test="urgentSaleFlg != null and urgentSaleFlg != ''">
                AND s.urgent_sale_flg = #{urgentSaleFlg}
            </if>
            <if test="startSaleTime != null"><!-- 开始时间检索 -->
                and date_format(s.sale_time,'%y%m%d') &gt;= date_format(#{startSaleTime},'%y%m%d')
            </if>
            <if test="endSaleTime != null"><!-- 结束时间检索 -->
                and date_format(s.sale_time,'%y%m%d') &lt;= date_format(#{endSaleTime},'%y%m%d')
            </if>
        )MAIN
        order by MAIN.sale_id asc
    </select>
</mapper>